*{
    margin: 0;
    padding: 0;
}

body {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
}

.header{
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0px 0px 10px #26882378;
    display: flex;
    justify-content: space-between;
    width:auto;
    height: 3em;
    color: white;
    background: #136a8a;
    background: 
      -webkit-linear-gradient(to right, #267871, #136a8a);
    background: 
      linear-gradient(to right, #267871, #136a8a);
}

ul.navbar>li{
    list-style: none;
    color: white;
    background: #cdfeba;
    box-shadow: 0px 0px 10px #c8c8f6;
    background: 
      -webkit-linear-gradient(to right, #cdfeba, #ccf1ff);
    background: 
      linear-gradient(to right, #cdfeba, #ccf1ff);
    width: 500px;
}

ul.navbar li.masterItem, ul.dropdown li {
    display: block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul.navbar li.masterItem a {
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}

ul.navbar li.masterItem a:hover {
    color: #fff;
    background: #939393;
}

ul.navbar li.masterItem ul.dropdown {
    width: 500px;
    padding: 0;
    list-style: none;
    /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
}

ul.navbar li.masterItem:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

.logout-btn{
    text-decoration: none;
    color:black;
    box-shadow: 0px 0px 10px #c8c8f6;
    padding: 10px 15px;
    height: 1.2em;
    background: #cdfeba;
    background: 
      -webkit-linear-gradient(to right, #cdfeba, #ccf1ff);
    background: 
      linear-gradient(to right, #caf6c8, #f2f2c8);
}

